# Python related
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
.env/

# Data and cache directories
data/
cache/
data/raw/
data/processed/
data/results/

# Data files
*.h5ad
*.csv
*.tar

# Jupyter related
.ipynb_checkpoints/

# System files
.DS_Store
*.log

# SLURM files
slurm-*.out
