abc-property==1.0
absl-py==1.2.0
accelerate==1.0.1
aenum==3.1.15
aiohttp==3.8.1
aiohttp-socks==0.8.4
aioimaplib==1.0.1
aiosignal==1.2.0
aiosmtplib==2.0.2
alabaster==0.7.12
albumentations==1.3.0
alembic==1.14.0
anndata==0.9.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
appdirs==1.4.4
argcomplete==1.12.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
asyncio-atexit==1.0.1
attmap==0.13.2
attrs==25.1.0
Babel==2.10.3
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.11.1
bech32==1.2.0
biofluff==3.0.4
biopython==1.79
biothings-client==0.3.0
black==22.6.0
bleach==5.0.1
bokeh==2.4.3
boto3==1.24.50
botocore==1.27.50
brainx==0.1.dev0
bx-python==0.8.13
cachetools==5.2.0
cbor2==5.4.6
certifi==2022.6.15
cffi==1.15.1
cfgv==3.3.1
cftime==1.6.1
cget==0.2.0
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.1.0
codecov==2.1.12
colorama==0.4.5
coloredlogs==15.0.1
colorlog==6.9.0
colormath==3.0.0
comm==0.2.2
commonmark==0.9.1
ConfigArgParse==1.5.3
configparser==5.3.0
connection-pool==0.0.3
contourpy==1.3.0
contrastive==1.2.0
coverage==6.4.3
cpe==1.3.1
CrossMap==0.6.5
cryptography==40.0.2
cvxopt==1.2.6
cycler==0.11.0
Cython==0.29.32
cyvcf2==0.30.16
dask==2022.8.0
datashape==0.5.2
datrie==0.8.2
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
denoising-diffusion-pytorch==2.1.1
Deprecated==1.2.13
detectors==0.1.11
diffusers==0.31.0
dill==0.3.6
diskcache==5.6.1
distlib==0.3.5
distro==1.9.0
divvy==0.6.0
dm-tree==0.1.8
docopt==0.6.2
docutils==0.19
dot2tex==2.11.3
dpath==2.0.6
dxpy==0.337.0
eido==0.1.7
einops==0.8.0
ema-pytorch==0.7.3
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==2.1.0
faiss-cpu==1.9.0
fastestimator==1.6.0
fastjsonschema==2.17.1
fe-pycocotools==1.0
filelock==3.8.0
flake8==5.0.4
flatbuffers==24.3.25
fonttools==4.34.4
fqdn==1.5.1
frozenlist==1.3.1
fsspec==2023.12.2
future==0.18.2
gast==0.4.0
GDAL==3.5.1
gdown==4.6.4
generate-chroma==1.0.0
genomepy==0.16.1
gimmemotifs==0.17.0
gitdb==4.0.9
GitPython==3.1.27
goatools==1.3.1
google-ai-generativelanguage==0.6.10
google-api-core==2.23.0
google-api-python-client==2.56.0
google-auth==2.36.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-generativeai==0.8.3
google-pasta==0.2.0
googleapis-common-protos==1.56.4
GPy==1.13.2
GPyOpt==1.2.6
gpytorch==1.9.1
graphviz==0.20.1
greenlet==3.1.1
grpcio==1.67.0
grpcio-status==1.62.3
h11==0.14.0
h5py==3.8.0
html5lib==1.1
HTSeq==2.0.3
htsget==0.2.5
httpcore==1.0.6
httplib2==0.20.4
httpx==0.27.2
huggingface-hub==0.26.2
humanfriendly==10.0
humanize==4.3.0
hydra-core==1.3.2
hyperas==0.4.1
hyperopt==0.2.7
identify==2.5.3
idna==3.3
igraph==0.10.4
imageio==2.21.1
imagesize==1.4.1
imgaug==0.4.0
importlib==1.0.4
importlib-metadata==6.11.0
importlib_resources==6.4.5
iniconfig==1.1.1
ipykernel==6.29.5
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==7.7.1
iso8601==2.0.0
isoduration==20.11.0
iteround==1.0.4
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.2
jiter==0.6.0
jmespath==1.0.1
joblib==1.4.2
jsonpickle==3.0.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kaleido==0.2.1
keopscore==2.1.1
keras==2.11.0
keras-nightly==3.7.0.dev2024102603
Keras-Preprocessing==1.1.2
keyring==23.4.1
keyrings.alt==3.1
kiwisolver==1.4.4
kneed==0.8.1
lark==1.1.5
Lasagne==0.1
lazy_loader==0.1
LDpred==1.0.11
leidenalg==0.9.1
lib-pod5==0.2.2
libclang==14.0.6
lightly==1.5.14
lightly-utils==0.0.2
lightning-utilities==0.11.8
linear-operator==0.3.0
littleutils==0.2.4
livelossplot==0.5.5
llvmlite==0.43.0
lmdb==1.4.1
locket==1.0.0
logmuse==0.2.7
logomaker==0.8
loguru==0.7.0
loompy==3.0.7
looper==1.3.2
louvain==0.8.0
lxml==4.9.1
lzstring==1.0.4
Mako==1.2.1
mappy==2.26
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.7
mccabe==0.7.0
meson==0.63.0
misopy==0.5.4
mistune==0.8.4
ml_dtypes==0.5.0
more-itertools==9.1.0
mpmath==1.2.1
msgpack==1.0.8
multidict==6.0.2
multipledispatch==0.6.0
multiqc==1.12
mygene==3.2.2
mypy-extensions==0.4.3
mysql-connector-python==8.0.30
namex==0.0.8
NanoComp==1.23.1
NanoFilt==2.8.0
nanoget==1.19.3
NanoLyse==1.2.1
nanomath==1.3.0
nanopack==1.1.0
NanoPlot==1.42.0
nanoQC==0.9.4
NanoStat==1.6.0
natsort==8.3.1
nbclient==0.6.6
nbconvert==6.5.1
nbformat==5.4.0
nest-asyncio==1.6.0
netCDF4==1.6.0
networkx==2.8.5
nglview==3.0.8
nibabel==4.0.1
nipy==0.5.0
nltk==3.8.1
nodeenv==1.7.0
nolearn==0.6.1
normflows==1.7.3
norns==0.1.6
nose==1.3.7
nose-parameterized==0.6.0
notebook==6.4.12
numba==0.60.0
numexpr==2.8.3
numpy==1.23.5
numpy-groupies==0.9.19
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.1
odo==0.5.0
ogb==1.3.6
omegaconf==2.3.0
openai==1.51.1
opencv-python==4.7.0.72
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-http==1.21.0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opt-einsum==3.3.0
optree==0.13.0
optuna==4.1.0
ordered-set==4.1.0
orjson==3.8.7
outdated==0.2.2
oyaml==1.0
packaging==23.2
palettable==3.3.3
pandas==2.0.1
pandocfilters==1.5.0
parameterized==0.9.0
paramz==0.9.6
pararead==0.7.0
parso==0.8.4
partd==1.2.0
pathspec==0.9.0
patsy==0.5.3
peppy==0.33.0
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.4.0
piper==0.12.3
plac==1.3.5
platformdirs==4.3.6
plinkio==0.9.8
plotly==5.13.1
pluggy==1.0.0
ply==3.11
pod5==0.2.2
polars==0.17.15
pre-commit==2.20.0
prettytable==3.6.0
prometheus-client==0.14.1
prompt_toolkit==3.0.48
proto-plus==1.25.0
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
PuLP==2.6.0
pure_eval==0.2.3
py==1.11.0
py-cpuinfo==9.0.0
py4j==0.10.9.5
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybedtools==0.9.0
pyBigWig==0.3.18
pybind11==2.10.4
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.18.0
pycuda==2020.1
pydantic==2.9.2
pydantic_core==2.23.4
pydiffmap==0.2.0.1
pydot==1.4.2
pyega3==4.0.5
pyfaidx==0.7.1
pyfiglet==0.8.post1
pyflakes==2.5.0
Pygments==2.15.1
pykeops==2.1.1
PyLaTeX==1.4.1
pylibseq @ file:///nas/longleaf/rhel8/apps/python/3.9.6/src/pylibseq
pynndescent==0.5.10
pyOpenSSL==23.2.0
pyparsing==3.0.9
PyQt-builder==1.15.3
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyreadr==0.4.6
pyro-api==0.1.2
pyro-ppl==1.8.4
pyrsistent==0.18.1
pysam==0.19.1
PySocks==1.7.1
pyteiser==0.0.1
pytest==7.1.2
pytest-cov==3.0.0
python-bitcoinlib==0.12.2
python-dateutil==2.9.0.post0
Python-Deprecated==1.1.0
python-docx==0.8.11
python-socks==2.7.1
pytools==2022.1.12
pytorch-fid==0.3.0
pytorch-lightning==2.4.0
pytz==2023.4
pytz-deprecation-shim==0.1.0.post0
PyVCF==0.6.8
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==26.2.0
qnorm==0.8.1
QScintilla==2.14.1
qtconsole==5.5.1
QtPy==2.4.1
qudida==0.0.4
ratelimiter==1.2.0.post0
referencing==0.36.2
refgenconf==0.12.2
refgenie==0.12.1
regex==2024.11.6
requests==2.28.2
requests-oauthlib==1.3.1
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==12.5.1
rpds-py==0.22.3
rpy2==3.5.3
rsa==4.9
s3transfer==0.6.0
safetensors==0.4.5
scalecodec==1.2.11
scanpy==1.9.3
scikeras==0.9.0
scikit-allel==1.3.5
scikit-image==0.20.0
scikit-learn==1.2.2
scikit-misc==0.3.1
scipy==1.9.1
scTAPE==1.1.2
seaborn==0.13.2
SecretStorage==3.3.2
Send2Trash==1.8.0
session-info==1.0.0
shapely==2.0.6
simplejson==3.17.6
sip==6.7.12
six==1.16.0
sklearn==0.0
sliced==0.7.0
smart-open==6.0.0
smmap==5.0.0
snakemake==7.12.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
spectra==0.0.11
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.36
stack-data==0.6.3
statsmodels==0.14.0
stdlib-list==0.9.0
stix2-patterns==2.0.0
stix2-validator==3.2.0
stopit==1.1.2
sympy==1.10.1
synapse==2.139.0
synapseclient==2.6.0
tables==3.7.0
tabulate==0.8.10
tb-nightly==2.19.0a20241024
tenacity==8.0.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.19.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-probability==0.19.0
termcolor==2.0.1
terminado==0.15.0
texttable==1.6.7
Theano==1.0.5
threadpoolctl==3.1.0
tifffile==2022.8.8
timm==1.0.11
tinycss2==1.1.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
toposort==1.7
torch==2.4.1
torchinfo==1.7.2
torchmetrics==1.6.0
torchview==0.2.6
torchvision==0.19.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.26.1
triton==3.0.0
typeguard==4.0.0
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==4.2
ubiquerg==0.6.2
umap-learn==0.5.3
uncertainty-calibration==0.1.4
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
vbz-h5py-plugin==1.0.1
vcrpy==4.3.1
velocyto==0.17.17
virtualenv==20.16.3
vtk==9.1.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==2.2.2
wget==3.2
widgetsnbextension==3.6.1
wilds==2.0.0
wrapt==1.14.1
wslink==1.6.6
xdg==6.0.0
xgboost==1.7.6
xlsx2csv==0.8.0
XlsxWriter==3.1.2
xxhash==3.2.0
yacman==0.8.4
yarl==1.8.1
yte==1.5.1
zipp==3.20.2
